<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (requestLog(); as requestLogRef) {
      <div>
        <h2 data-cy="requestLogDetailsHeading"><span jhiTranslate="hostMintApp.requestLog.detail.title">Request Log</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ requestLogRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.correlationId">Correlation Id</span></dt>
          <dd>
            <span>{{ requestLogRef.correlationId }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.method">Method</span></dt>
          <dd>
            <span [jhiTranslate]="'hostMintApp.HttpMethod.' + (requestLogRef.method ?? 'null')">{{
              { null: '', GET: 'GET', POST: 'POST', PUT: 'PUT', DELETE: 'DELETE', PATCH: 'PATCH', HEAD: 'HEAD', OPTIONS: 'OPTIONS' }[
                requestLogRef.method ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.path">Path</span></dt>
          <dd>
            <span>{{ requestLogRef.path }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.statusCode">Status Code</span></dt>
          <dd>
            <span>{{ requestLogRef.statusCode }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.durationMs">Duration Ms</span></dt>
          <dd>
            <span>{{ requestLogRef.durationMs }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.principal">Principal</span></dt>
          <dd>
            <span>{{ requestLogRef.principal }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.ipAddress">Ip Address</span></dt>
          <dd>
            <span>{{ requestLogRef.ipAddress }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.errorCode">Error Code</span></dt>
          <dd>
            <span>{{ requestLogRef.errorCode }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.errorMessage">Error Message</span></dt>
          <dd>
            <span>{{ requestLogRef.errorMessage }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.createdAt">Created At</span></dt>
          <dd>
            <span>{{ requestLogRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.actor">Actor</span></dt>
          <dd>
            <span>{{ requestLogRef.actor?.login }}</span>
          </dd>
          <dt><span jhiTranslate="hostMintApp.requestLog.project">Project</span></dt>
          <dd>
            @if (requestLog()!.project) {
              <div>
                <a [routerLink]="['/project', requestLog()!.project?.id, 'view']">{{ requestLogRef.project?.projectKey }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>
      </div>
    }
  </div>
</div>
