<div>
  <h2 id="page-heading" data-cy="AuditLogHeading">
    <span jhiTranslate="hostMintApp.auditLog.home.title">AuditLogs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="hostMintApp.auditLog.home.refreshListLabel">Actualiser la liste</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="hostMintApp.auditLog.home.search">Recherche pour Audit Log</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'hostMintApp.auditLog.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch())">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch()) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt" />
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters" />

  @if (auditLogs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="hostMintApp.auditLog.home.notFound">Aucun Audit Log trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="action">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.action">Action</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="entityName">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.entityName">Entity Name</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="entityId">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.entityId">Entity Id</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="level">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.level">Level</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="message">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.message">Message</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="principal">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.principal">Principal</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="correlationId">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.correlationId">Correlation Id</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="ipAddress">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.ipAddress">Ip Address</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="userAgent">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.userAgent">User Agent</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="metadata">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.metadata">Metadata</span>
                @if (!currentSearch()) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="actor.login">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.actor">Actor</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="project.projectKey">
              <div class="d-flex">
                <span jhiTranslate="hostMintApp.auditLog.project">Project</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (auditLog of auditLogs(); track trackId(auditLog)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/audit-log', auditLog.id, 'view']">{{ auditLog.id }}</a>
              </td>
              <td>{{ auditLog.action }}</td>
              <td>{{ auditLog.entityName }}</td>
              <td>{{ auditLog.entityId }}</td>
              <td [jhiTranslate]="'hostMintApp.LogLevel.' + (auditLog.level ?? 'null')">
                {{ { null: '', INFO: 'INFO', WARN: 'WARN', ERROR: 'ERROR', DEBUG: 'DEBUG', TRACE: 'TRACE' }[auditLog.level ?? 'null'] }}
              </td>
              <td>{{ auditLog.message }}</td>
              <td>{{ auditLog.principal }}</td>
              <td>{{ auditLog.correlationId }}</td>
              <td>{{ auditLog.ipAddress }}</td>
              <td>{{ auditLog.userAgent }}</td>
              <td>{{ auditLog.metadata }}</td>
              <td>{{ auditLog.createdAt | formatMediumDatetime }}</td>
              <td>
                {{ auditLog.actor?.login }}
              </td>
              <td>
                @if (auditLog.project) {
                  <div>
                    <a [routerLink]="['/project', auditLog.project.id, 'view']">{{ auditLog.project.projectKey }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/audit-log', auditLog.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (auditLogs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
